<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hamro Foodie Store</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<nav class="navbar navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-nav" routerLink="/" routerLinkActive="active">
        <img src="../assets/food.ico" width="49px"> </a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="/">Home</a></li>
      <li><a routerLink="/Foodiespace" routerLinkActive="active">Foodie Space</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </ul>


    <div class="navbar-nav">
      <img src="../assets/spoonie.ico" width="49px" style="margin-right: 10px">
      <img src="../assets/chicken.ico" width="49px" style="margin-right: 10px">
      <img src="../assets/fries.ico" width="49px" style="margin-right: 10px">
    </div>
  </div>
</nav>  

<div class="container">
  <router-outlet></router-outlet>
</div>



<!-- Footer -->
<footer class="page-footer font-small blue pt-4 mt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase"> HamroFoodiestore</h5>
          <p>Your Hunger is our concern</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-6 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Contact US</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">+977 9843706705</a>
            </li>
            <li>
              <a href="#!">dipaxce@gmail.com</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a routerLink="/" > HamroFoodiestore.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->

</body>
</html>
