
<html>
<body>

<div class="container">
  <h1>Hamro Foodie Store</h1>
  
<div class="col-sm-10 col-sm-10-offset-3">
<carousel class="text-center">
  <slide>
    <img src="../../assets/combo.jpg" alt="Combo" style=" width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Foodie jumbo combo</h3>
      <p>Jumbo combo with ;)</p>
    </div>
  </slide>
  <slide>
    <img src="../../assets/pasta.jpg" alt="Pasta" style="width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Pasta aahhh</h3>
      <p>MA ma miaaa !!</p>
    </div>
  </slide>
  <slide>
    <img src="../../assets/coffee.jpg" alt="Coffee" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Your cup of happiness</h3>
      <p>Because new ideas come from a cup of coffee</p>
    </div>
  </slide>
</carousel>
</div>
</div>
</body>
</html>